@page "/datagrid"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Works about 69/420 at a time</h1>

<button @onclick="ClearFiles">Clear LocalStorage</button>
<InputFile OnChange="@SingleUpload" />

@if (_files == null)
{
    <p><em>No files</em></p>
}
else
{
    <table class="fileTable">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in _files)
            {
                <tr>
                    <td>@file</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<byte[]>? _files;

    protected override async Task OnInitializedAsync()
    {
        _files = await localStorage.GetItemAsync<List<byte[]>>("files") ?? new List<byte[]>();
    }

    public async void ClearFiles()
    {
        await localStorage.ClearAsync();
    }

    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        List<byte[]> files = await localStorage.GetItemAsync<List<byte[]>>("files") ?? new List<byte[]>();

        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        byte[] bytes = ms.ToArray();

        files.Add(bytes);

        await localStorage.SetItemAsync("files", files);
    }
}
