<!--Title-->
<h1>{{title}}</h1>

<!--Select shape type-->
<div>
    <label for="shapeType">Shape Type:</label>
    <select id="shapeType" name="shapeType" [(ngModel)]="selectedShape">
        <option *ngFor="let shape of shapes" [ngValue]="shape">
            {{shape.name}}
        </option>
    </select>
</div>

<!--Get's data from shape-->
<div *ngIf="selectedShape">
    <h5 style="padding: 20px;">Shape'n stuff:</h5>
    <div>
        <label for="shapeName">Name:</label>
        <input type="text" id="shapeName" name="shapeName" [(ngModel)]="selectedShape.name">
    </div>

    <!--If parallelogram is selected-->
    <div *ngIf="selectedShape instanceof Parallelogram">
        <label for="shapeBase">length:</label>
        <input type="number" id="shapeBase" name="shapeBase" [(ngModel)]="selectedShape.length">
        <label for="shapeHeight">Height:</label>
        <input type="number" id="shapeHeight" name="shapeHeight" [(ngModel)]="selectedShape.width">
        <label for="shapeHeight">Height:</label>
        <input type="number" id="shapeHeight" name="shapeHeight" [(ngModel)]="selectedShape.height">
    </div>

    <!--If rectangle is selected-->
    <div *ngIf="selectedShape instanceof Rectangle">
        <label for="shapeWidth">Width:</label>
        <input type="number" id="shapeWidth" name="shapeWidth" [(ngModel)]="selectedShape.width">
        <label for="shapeHeight">Height:</label>
        <input type="number" id="shapeHeight" name="shapeHeight" [(ngModel)]="selectedShape.height">
    </div>

    <!--If square is selected-->
    <div *ngIf="selectedShape instanceof Square">
        <label for="shapeSide">Side:</label>
        <input type="number" id="shapeSide" name="shapeSide" [(ngModel)]="selectedShape.width">
    </div>

    <!--If trapez is selected-->
    <div *ngIf="selectedShape instanceof Trapez">
        <label for="shapeBaseA">Side A:</label>
        <input type="number" id="shapeBaseA" name="shapeBaseA" [(ngModel)]="selectedShape.sideA">
        <label for="shapeBaseB">Side B:</label>
        <input type="number" id="shapeBaseB" name="shapeBaseB" [(ngModel)]="selectedShape.sideB">
        <label for="shapeBaseA">Side C:</label>
        <input type="number" id="shapeBaseA" name="shapeBaseA" [(ngModel)]="selectedShape.sideC">
        <label for="shapeBaseB">Side D:</label>
        <input type="number" id="shapeBaseB" name="shapeBaseB" [(ngModel)]="selectedShape.sideD">
    </div>

    <!--If triangle is selected-->
    <div *ngIf="selectedShape instanceof Triangle">
        <label for="shapeBase">Base:</label>
        <input type="number" id="shapeBase" name="shapeBase" [(ngModel)]="selectedShape.base">
        <label for="shapeHeight">Height:</label>
        <input type="number" id="shapeHeight" name="shapeHeight" [(ngModel)]="selectedShape.height">
    </div>

    <!--If circle is selected-->
    <div *ngIf="selectedShape instanceof Circle">
        <label for="shapeRadius">Radius:</label>
        <input type="number" id="shapeRadius" name="shapeRadius" [(ngModel)]="selectedShape.radius">
    </div>

    <div>
        <label for="shapePerimeter">Shape Perimeter:</label>
        <label for="shapePerimeter">{{selectedShape.getPerimeter()}}</label>
    </div>

    <div>
        <label for="shapeArea">Shape Area:</label>
        <label for="shapeArea">{{selectedShape.getArea()}}</label>
    </div>
</div>