<H1 class="Title">Electric cars:</H1>

<!--Submit car form-->
<form class="Form" [formGroup]="carForm" (ngSubmit)="onSubmit()">
    <div class="Form__input">
        <label for="id">Id:</label>
        <input type="number" id="id" formControlName="id" />
    </div>
    <div class="Form__input">
        <label for="model">Model:</label>
        <input type="text" id="model" formControlName="model" />
    </div>
    <div class="Form__input">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" formControlName="quantity" />
    </div>
    <div class="Form__input">
        <label for="changeQuantityPercent">Change Quantity Percent:</label>
        <input type="number" id="changeQuantityPercent" formControlName="changeQuantityPercent" />
    </div>
    <button type="submit" [disabled]="carForm.invalid">Submit</button>
</form>

<!--If cars is loaded show cars-->
<ng-container *ngIf="(fossilCars$ | async) as cars">
    <thead class="Car rainbow">
        <tr>
            <th class="a">Rank</th>
            <th class="a">Model</th>
            <th class="a">Quantity</th>
            <th class="a">Change Quantity Percent</th>
        </tr>
    </thead>
    <div *ngFor="let car of cars; let even = even; let odd = odd" [ngClass]="{odd: odd, even: even}" class="Car">
        <tr>
            <td class="a rainbow">{{car.id}}</td>
            <td class="a">{{car.model}}</td>
            <td class="a">{{car.quantity}}</td>
            <td class="a rainbow">{{car.changeQuantityPercent}}</td>
        </tr>
    </div>
</ng-container>