.even {
    background-color: #696969;

}

.odd {
    background-color: #424242;
}

td {
    width: 25%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #cecece;
}

table {
    width: 100%;
}

form {
    width: 20%;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*mordernise input box*/
input {
    border-left: rgb(42, 42, 42) 2px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

button {
    border-radius: 5px;
    background-color: #582020;
    color: #cecece;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.Form__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #cecece;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1px;
}

.Form__input {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #cecece;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1px;
}

.Form__input>* {
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    color: #cecece;
}

.Title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #505050;
    color: #cecece;
}

.rainbow {
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}